<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cims.mapper.TbClassScoreInfoMapper" >

    <resultMap id="BaseResultMap" type="com.cims.bean.TbClassScoreInfo" >
        <id column="sid" property="sid" jdbcType="INTEGER" />
        <result column="cid" property="cid" jdbcType="VARCHAR" />
        <result column="score" property="score" jdbcType="REAL" />
        <result column="school_year" property="schoolYear" jdbcType="VARCHAR" />
        <result column="semester" property="semester" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        sid, cid, score, school_year, semester
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from tb_class_score_info
        where sid = #{sid,jdbcType=INTEGER}
    </select>
	
	<select id="selectByCid" parameterType="list" resultMap="BaseResultMap">
		select 
        <include refid="Base_Column_List" />
        from tb_class_score_info
        where cid in (
        <foreach collection="list" item="temp" separator=",">
        	#{temp}	
        </foreach>
        )
	</select>
    <select id="selectAll" resultMap="BaseResultMap">
    	select 
        <include refid="Base_Column_List" />
        from tb_class_score_info
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from tb_class_score_info
        where sid = #{sid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.cims.bean.TbClassScoreInfo" >
        insert into tb_class_score_info (sid, cid, score, 
            school_year, semester)
        values (#{sid,jdbcType=INTEGER}, #{cid,jdbcType=VARCHAR}, #{score,jdbcType=REAL}, 
            #{schoolYear,jdbcType=VARCHAR}, #{semester,jdbcType=INTEGER})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.cims.bean.TbClassScoreInfo" >
        update tb_class_score_info
        set cid = #{cid,jdbcType=VARCHAR},
            score = #{score,jdbcType=REAL},
            school_year = #{schoolYear,jdbcType=VARCHAR},
            semester = #{semester,jdbcType=INTEGER}
        where sid = #{sid,jdbcType=INTEGER}
    </update>
</mapper>