<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cims.mapper.TbEvaluationTemplateMapper" >

    <resultMap id="BaseResultMap" type="com.cims.bean.TbEvaluationTemplate" >
        <id column="eid" property="eid" jdbcType="INTEGER" />
        <result column="classification_id" property="classificationId" jdbcType="VARCHAR" />
        <result column="indicator_id" property="indicatorId" jdbcType="VARCHAR" />
        <result column="indicator_name" property="indicatorName" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
        <result column="weight" property="weight" jdbcType="CHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>


    <sql id="Base_Column_List" >
        eid, classification_id, indicator_id, indicator_name, parent_id, weight, status
    </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from tb_evaluation_template
        where eid = #{eid,jdbcType=VARCHAR}
    </select>
	<select id="selectMaxEid" resultType="Integer">
		select max(eid) from tb_evaluation_template
	</select>
	<select id="selectByZero" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from tb_evaluation_template
		where parent_id &lt;&gt; '0'
	</select>
	<select id="selectEqualZero" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from tb_evaluation_template
		where parent_id = '0'
	</select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from tb_evaluation_template
        where eid = #{eid,jdbcType=VARCHAR}
    </delete>

	<insert id="multiInsert" parameterType="list">
		insert into tb_evaluation_template (eid, classification_id, indicator_id, 
            indicator_name, parent_id, weight, 
            status)
            values 
            <foreach collection="list" item="temp" separator=",">
            	(
            		#{temp.eid},
            		#{temp.classificationId},
            		#{temp.indicatorId},
            		#{temp.indicatorName},
            		#{temp.parentId},
            		#{temp.weight},
            		#{temp.status}
            	)
            </foreach>
	</insert>
    <insert id="insert" parameterType="com.cims.bean.TbEvaluationTemplate" >
        insert into tb_evaluation_template (eid, classification_id, indicator_id, 
            indicator_name, parent_id, weight, 
            status)
        values (#{eid,jdbcType=VARCHAR}, #{classificationId,jdbcType=VARCHAR}, #{indicatorId,jdbcType=VARCHAR}, 
            #{indicatorName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{weight,jdbcType=CHAR}, 
            #{status,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="com.cims.bean.TbEvaluationTemplate" >
        insert into tb_evaluation_template
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="eid != null" >
                eid,
            </if>
            <if test="classificationId != null" >
                classification_id,
            </if>
            <if test="indicatorId != null" >
                indicator_id,
            </if>
            <if test="indicatorName != null" >
                indicator_name,
            </if>
            <if test="parentId != null" >
                parent_id,
            </if>
            <if test="weight != null" >
                weight,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="eid != null" >
                #{eid,jdbcType=VARCHAR},
            </if>
            <if test="classificationId != null" >
                #{classificationId,jdbcType=VARCHAR},
            </if>
            <if test="indicatorId != null" >
                #{indicatorId,jdbcType=VARCHAR},
            </if>
            <if test="indicatorName != null" >
                #{indicatorName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null" >
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="weight != null" >
                #{weight,jdbcType=CHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>



    <update id="updateByPrimaryKeySelective" parameterType="com.cims.bean.TbEvaluationTemplate" >
        update tb_evaluation_template
        <set >
            <if test="classificationId != null" >
                classification_id = #{classificationId,jdbcType=VARCHAR},
            </if>
            <if test="indicatorId != null" >
                indicator_id = #{indicatorId,jdbcType=VARCHAR},
            </if>
            <if test="indicatorName != null" >
                indicator_name = #{indicatorName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null" >
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="weight != null" >
                weight = #{weight,jdbcType=CHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where eid = #{eid,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.cims.bean.TbEvaluationTemplate" >
        update tb_evaluation_template
        set classification_id = #{classificationId,jdbcType=VARCHAR},
            indicator_id = #{indicatorId,jdbcType=VARCHAR},
            indicator_name = #{indicatorName,jdbcType=VARCHAR},
            parent_id = #{parentId,jdbcType=VARCHAR},
            weight = #{weight,jdbcType=CHAR},
            status = #{status,jdbcType=INTEGER}
        where eid = #{eid,jdbcType=VARCHAR}
    </update>
</mapper>