<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cims.mapper.TbIndexMapper" >

    <resultMap id="BaseResultMap" type="com.cims.bean.TbIndex" >
        <result column="iid" property="iid" jdbcType="VARCHAR" />
        <result column="classification_id" property="classificationId" jdbcType="VARCHAR" />
        <result column="indicator_name" property="indicatorName" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        iid, classification_id, indicator_name, parent_id
    </sql>
	<select id="selectIndex" parameterType="list" resultMap="BaseResultMap">
		select
        <include refid="Base_Column_List" />
        from tb_index
        where classification_id in
        <foreach collection="list" item="item" open="(" close=")" separator="," index="index">
        	#{item}
        </foreach>
	</select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cims.bean.TbIndexExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from tb_index
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <delete id="deleteByExample" parameterType="com.cims.bean.TbIndexExample" >
        delete from tb_index
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.cims.bean.TbIndex" >
        insert into tb_index (iid, classification_id, indicator_name, 
            parent_id)
        values (#{iid,jdbcType=VARCHAR}, #{classificationId,jdbcType=VARCHAR}, #{indicatorName,jdbcType=VARCHAR}, 
            #{parentId,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.cims.bean.TbIndex" >
        insert into tb_index
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="iid != null" >
                iid,
            </if>
            <if test="classificationId != null" >
                classification_id,
            </if>
            <if test="indicatorName != null" >
                indicator_name,
            </if>
            <if test="parentId != null" >
                parent_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="iid != null" >
                #{iid,jdbcType=VARCHAR},
            </if>
            <if test="classificationId != null" >
                #{classificationId,jdbcType=VARCHAR},
            </if>
            <if test="indicatorName != null" >
                #{indicatorName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null" >
                #{parentId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.cims.bean.TbIndexExample" resultType="java.lang.Integer" >
        select count(*) from tb_index
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update tb_index
        <set >
            <if test="record.iid != null" >
                iid = #{record.iid,jdbcType=VARCHAR},
            </if>
            <if test="record.classificationId != null" >
                classification_id = #{record.classificationId,jdbcType=VARCHAR},
            </if>
            <if test="record.indicatorName != null" >
                indicator_name = #{record.indicatorName,jdbcType=VARCHAR},
            </if>
            <if test="record.parentId != null" >
                parent_id = #{record.parentId,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update tb_index
        set iid = #{record.iid,jdbcType=VARCHAR},
            classification_id = #{record.classificationId,jdbcType=VARCHAR},
            indicator_name = #{record.indicatorName,jdbcType=VARCHAR},
            parent_id = #{record.parentId,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
</mapper>