<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cims.mapper.TbTempEvaluationTemplateMapper" >

    <resultMap id="BaseResultMap" type="com.cims.bean.TbTempEvaluationTemplate" >
        <id column="eid" property="eid" jdbcType="INTEGER" />
        <result column="classification_id" property="classificationId" jdbcType="VARCHAR" />
        <result column="indicator_id" property="indicatorId" jdbcType="VARCHAR" />
        <result column="indicator_name" property="indicatorName" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
        <result column="weight" property="weight" jdbcType="CHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="version" property="version" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        eid, classification_id, indicator_id, indicator_name, parent_id, weight, status, 
        version
    </sql>

	<select id="selectMaxEid" resultType="Integer">
		select max(eid) from tb_temp_evaluation_template
	</select>
	<select id="selectStatus" resultType="Integer">
		SELECT DISTINCT status FROM tb_temp_evaluation_template
	</select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from tb_temp_evaluation_template
        where eid = #{eid,jdbcType=INTEGER}
    </select>
	<select id="selectAllByStatus" resultMap="BaseResultMap" parameterType="String" >
		SELECT 
        eid, classification_id, indicator_id, indicator_name, parent_id, weight, STATUS, VERSION
        FROM tb_temp_evaluation_template
        WHERE STATUS = #{status} AND VERSION = (SELECT MAX(VERSION) FROM tb_temp_evaluation_template WHERE STATUS = #{status})
	</select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from tb_temp_evaluation_template
        where eid = #{eid,jdbcType=INTEGER}
    </delete>
    
    <delete id="deleteByStatus" parameterType="String">
    	delete from tb_temp_evaluation_template where status = #{status}
    </delete>
    
	<insert id="multiInsert" parameterType="list">
		insert into tb_temp_evaluation_template (eid, classification_id, indicator_id, 
            indicator_name, parent_id, weight, 
            status,version)
            values 
            <foreach collection="list" item="temp" separator=",">
            	(
            		#{temp.eid},
            		#{temp.classificationId},
            		#{temp.indicatorId},
            		#{temp.indicatorName},
            		#{temp.parentId},
            		#{temp.weight},
            		#{temp.status},
            		#{temp.version}
            	)
            </foreach>
	</insert>
    <insert id="insert" parameterType="com.cims.bean.TbTempEvaluationTemplate" >
        insert into tb_temp_evaluation_template (eid, classification_id, indicator_id, 
            indicator_name, parent_id, weight, 
            status, version)
        values (#{eid,jdbcType=INTEGER}, #{classificationId,jdbcType=VARCHAR}, #{indicatorId,jdbcType=VARCHAR}, 
            #{indicatorName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{weight,jdbcType=CHAR}, 
            #{status,jdbcType=INTEGER}, #{version,jdbcType=INTEGER})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.cims.bean.TbTempEvaluationTemplate" >
        update tb_temp_evaluation_template
        set classification_id = #{classificationId,jdbcType=VARCHAR},
            indicator_id = #{indicatorId,jdbcType=VARCHAR},
            indicator_name = #{indicatorName,jdbcType=VARCHAR},
            parent_id = #{parentId,jdbcType=VARCHAR},
            weight = #{weight,jdbcType=CHAR},
            status = #{status,jdbcType=INTEGER},
            version = #{version,jdbcType=INTEGER}
        where eid = #{eid,jdbcType=INTEGER}
    </update>
    
    <select id="selectMaxVersion" resultType="Integer">
    	select max(version) from tb_temp_evaluation_template
    </select>
</mapper>